body {
    background-color: #f3f0d7;
}

#top-container {
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 50px;
    background-color: #232323;
}

#bottom-container {
    padding: 20px 20px 20px 10px;
}

#heading {
    margin-top: 20px;
    margin-left:20px;
    margin-bottom: 20px;
}